@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@Html.Partial("_AddNewView")

<div class="row">
    <button type="button" id="btnAddNew" name="btnAddNew" onclick="AddNewMember()" class="btn btn-success btn-sm" value=""> Add New Customer</button>
</div>
<br />
<div class="table-responsive">
    <table id="tblCustomer" class="table table-striped table-bordered table-hover table-condensed">
        <tr>
            <th> Member Name          </th>
            <th> Date Of Birth         </th>
            <th> Qualification       </th>
            <th> Years Of Experience   </th>
            <th> Actions</th>
        </tr>
        <tr id="records"></tr>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/Code/memberEligibility.js"></script>
}